body {
    width: auto;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
}

header{
    background-color: rgb(1, 81, 154);
    color: white;
    width: 1100px;
    height: 140px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 25px;
    border: 1px solid rgb(1, 81, 154);
    border-radius: 25px;
}

.header__title {
    color: White;
    padding-left:135px;
    padding-top:1px;
    font-size: 90%
}

.header__image {
    padding-left: 20px;
}


footer{
    background-color: rgb(1, 81, 154);
    color: white;
    width: 1100px;
    height: 80px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 25px;
    border: 1px solid rgb(1, 81, 154);
    border-radius: 25px;
}

.footer__images {
    margin-left:20px;
    margin-right:auto;
}

.footer__image {
    padding-top:5px;
    height: 70px;
    padding-left:200px;
}

.shiny-text-output {
	color: red;
	font-size: 25px;
}

/* Utilities */

.utility__left {
    float: left;
}

.utility__right {
    float:right;
}

.button{
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-left: -3px;
    cursor: pointer;
    margin-top: 10px;
    color: rgb(1, 81, 154);
    background-color:white;
}
.privacy {
    float: right;
}

iframe {
  border: 0;
}

path.arc {
          cursor: move;
          fill: #fff;
        }

.node {
  font-size: 10px;
}

.node:hover {
  cursor: crosshair;
}

.link {
  fill: none;
  stroke-opacity: .1;
  pointer-events: none;
}

.link.source, .link.target {
  stroke-width: 2px;
}

.link.source {
  !stroke: #d62728;
}

.link.source {
}

.link.target {
}
